<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Public Lighting</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<!-- NAVBAR -->
<div class="navbar">
    <div class="nav-container">

        <!-- HOME -->
        <div class="nav-item">
            <a href="/">Home</a>
        </div>

        <!-- PLANTEAMIENTO -->
        <div class="nav-item">
            <a href="/planteamiento">understanding of the business</a>
        </div>

        <!-- INGENIERIA DE DATOS -->
        <div class="nav-item">
            <a href="/datos">data engineering</a>
        </div>

    </div>
</div>

<!-- CONTENIDO -->
<div class="container">

    {% block content %}

    <!-- HERO -->
    <div class="hero">
        <div class="hero-content">
            <h1>Public Lighting</h1>
            <p>
                Predicting public lighting failures through analysis of citizen reports and energy consumption
            </p>
        </div>
    </div>

    <!-- CARD 1 -->
    <div class="card">
        <h2>objective</h2>
        <p>
            Analyze information from the public lighting system to identify potential failures and optimize maintenance.
        </p>
    </div>

    <!-- CARD 2 -->
    <div class="card">
        <h2>
             Data Used</h2>
        <p>
            Citizen reports, energy consumption, location of streetlights and historical maintenance records.
        </p>
    </div>

    {% endblock %}

</div>

</body>
</html>
